@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #003b00;
    --secondary-color: #00b100;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
    background-color: var(--primary-color);
}

body.show-nav {
    /* width of nav is 200px */
    transform: translateX(200px);
}

nav {
    background-color: var(--primary-color);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    border-bottom: 2px solid rgba(200,200,200, 0.2);
    padding: 20px;
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200,200,200, 0.2);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    line-height: 1px;
    padding-top: 20px;
    font-size: 50px;
}

@media (max-width: 700px) {

    header h1 {
      font-size: 25px;
    }
}

header p {
    margin: 30px 0;
}

button {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
}

button:focus {
    outline: none;
}

.toggle {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 20px;
    border-radius: 5px;
    left: 20px;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.sub-heading {
    color: #fff;
    text-align: center;
    font-weight: 200;
    margin-bottom: 30px;
    padding: 0 250px;
    font-weight: 300;
}

.btn {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 12px 30px;
    font-size: 20px;
}

.home {
    margin: 30px 0;
    padding: 15px 250px ;
    background-color: #fff;
    height: 100%;
    color: var(--primary-color);
}


.modal-1,
.modal-2 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    color: var(--primary-color);
}

.modal-2 {
    width: 1250px;
}

.modal-1:focus,
.modal-2:focus {
    outline: none;
}

.close-btn {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-1-header,
.modal-2-header {
    background: var(--primary-color);
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.modal-1-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-2-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-1-content {
    padding: 20px;
}

.modal-2-content {
    padding: 20px;
}

.modal-2-content p {
    font-weight: 300;
}

.modal-1-form div {
    margin: 15px 0;
}

.modal-1-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-1-form .form-input {
    padding: 8px;
    width: 100%;
}

.modal-2-content h4 {
    text-align: center;
    margin-bottom: 10px;
}

.form-input:focus {
    outline-color: var(--secondary-color);
}
.submit-btn {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 150px;
    font-size: 16px;
}

@media (max-width: 1250px) {
    .modal-2 {
        width: auto;
    }

    .modal-2-content {
        padding: 0;
    }

    .modal-2-content p {
        font-size: 10px;
    }

    .modal-2-content h4 {
        margin-bottom: 2px;
    }
}

@media (max-width: 700px) {

    .sub-heading {
      font-size: 15px;
      padding: 0 100px;
    }

    .btn {
        padding: 8px 20px;
        font-size: 10px;
    }

    .home {
        padding: 10px 20px;
        margin: 10px 0;
    }
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

@media (max-width: 1150px) {

    .grid-4 {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 875px) {

    .grid-4 {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .grid-4 {
      grid-template-columns: 1fr;
    }
}

.my-3 {
    margin: 3rem 0;
}

.ml-1 {
    margin-left: 2rem;
}

@media (max-width: 700px) {

    .ml-1 {
      margin-left: .5rem;
    }
}

.px-2 {
    padding: 0 3rem;
}

.card-1 {
    background-color: #fff;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 7px 28px 0 rgba(255,255,255,0.45)
}

.card-1-top {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.card-1-img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-1-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.card-1-title {
    color: var(--primary-color);
    font-size: 25px;
}

.card-1-btn {
    margin-bottom: 20px;
    padding: 8px 15px;
    font-size: 15px;
}

.search-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #fff;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-button {
  background: white;
  color: var(--secondary-color);
}

.search-button {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: var(--primary-color);
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
.search-box:hover > .search-input {
    width: 150px;
    padding: 0 6px;
}
}